<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn is used to connect the socket to the ui -->
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>Sockets chat</title>
</head>
<body>
    <input type="text" class="message" id="message">
    <button id="btn" onclick="sendMessage()">Send Message</button>
    <div id="messageArea">

    </div>
    <h1 style="background-color: blue;"></h1>
    <h2 style="background-color: red;"></h2>
    
    <script>
        // 'http://localhost:3001'
        const socket = io()
        // in the front end i connected the socket and then i created an event called "message" as the backend and when this event happens i do smth
        let messageArea = document.getElementById('messageArea')
        let text = document.getElementById('message')
        socket.on('connection')
        // recieve the event from the backend socket server
        socket.on('message' , (data)=>{
            messageArea.innerHTML += '<h4 style="background-color: red ; font-size: 25px;">' + data + "</h4>"
        })
        // send the event to the backend server
        const sendMessage = () => {
            if(text.value != "")
            {
                socket.emit('message' , text.value)
                messageArea.innerHTML += '<h4 style="background-color: blue ; font-size: 25px;">' +text.value + "</h4>"
                text.innerHTML = ""
            }            
        }
    </script>
</body>
</html>